.help-container{
  background-color: #37718E;
height: 100vh;
width: 100wv;
  color: white;
  margin: 0;
  padding: 1.5rem;
  
}


.faq-container{
    width: 60%;
    margin: auto;
    background-color: #fff;
    padding: 2rem;

}