.res-card{

    width: 220px;
   
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    font-size: 12px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.res-card >span{
    margin: 7px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid rgb(211, 209, 209);

}
.res-logo{
    width: 100%;
}


.avgRating{
    padding: 2px 6px;
}